html {
    background-color: green;
}

header {
    background-color: lightblue;
    color: white;
}

h2 {
    background-color: lightblue;
    color: green;
}

.form {
    background-color: lightgray;
}

label {
    display: block;
}

label.inline {
    display: initial;
}

.top-section {
    padding: 1rem;
}

.top-section input,.top-section textarea {
    width: 100%;
    margin-bottom: 1rem;
}

.mid-section , .bottom-section {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.location {
    flex-basis: 30%;
}

.details {
    flex-basis: 70%
}

.location input, .location select {
    margin-bottom: 1rem;
}

.border {
    border-style: solid;
    border-color: blue;
    margin-bottom: 1rem;
    padding: .5rem;
}



.depart, .return {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.tos {
    padding: 1rem;
    
}

.buttons {
    padding: 1rem;
}

.buttons input {
    color: white;
    background: #ef256f;
    padding: .5rem 1rem;
    margin-right: .5rem;
    border-radius: .5rem;
    border-style:none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}